@theme {
  --color-*: initial;

  --color-white: #ffffff;
  --color-black: #000000;
  --color-red: #e7000b;

  --color-grayscale-1: #f9fafb;
  --color-grayscale-2: #f3f3f5;
  --color-grayscale-3: #eaeaea;
  --color-grayscale-4: #99a1af;
  --color-grayscale-5: #9a9a9a;
  --color-grayscale-6: #4a5565;

  --color-primary-1: #eff6ff;
  --color-primary-2: #bedbff;
  --color-primary-3: #88b7ff;
  --color-primary-4: #5b9cff;
  --color-primary-5: #2d81ff;
}

@layer base {
  html {
    font-size: 62.5%;
    line-height: 150%;
    font-family:
      'Pretendard Variable',
      Pretendard,
      -apple-system,
      BlinkMacSystemFont,
      system-ui,
      Roboto,
      'Helvetica Neue',
      'Segoe UI',
      'Apple SD Gothic Neo',
      'Noto Sans KR',
      'Malgun Gothic',
      'Apple Color Emoji',
      'Segoe UI Emoji',
      'Segoe UI Symbol',
      sans-serif;
  }
  * {
    box-sizing: border-box;
    color: var(--color-black);
  }
  #root {
    background-color: var(--color-grayscale-1);
  }
  main {
    background-color: var(--color-white);
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.04);
  }
}

@layer utilities {
  .header-24 {
    font-size: 24px;
    font-weight: 700;
    line-height: 150%;
  }
  .header-20 {
    font-size: 20px;
    font-weight: 700;
    line-height: 150%;
  }

  .title-20 {
    font-size: 20px;
    font-weight: 500;
    line-height: 150%;
  }

  .body-20 {
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
  }
  .body-18 {
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
  }
  .body-16 {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
  }
  .body-14 {
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
  }

  .caption-15 {
    font-size: 15px;
    font-weight: 400;
    line-height: 150%;
  }
  .caption-11 {
    font-size: 11px;
    font-weight: 500;
    line-height: 150%;
  }
}
